*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    list-style: none;
    text-decoration: none;
}


header{
          position: fixed;
          right: 0;
          top: 0;
          z-index: 1000;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 33px 9%;
          background: transparent;
}

.LOGO{
    font-size: 30px;
    font-weight: 700;
    color: rgb(117, 3, 133);
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.1s;
}

.navlist{
    display: flex;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1.1s;
    animation-delay: calc(.2s * var(--i));
}


.navlist a{
    color: rgb(104, 4, 82);
    margin-left: 60px;
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .55s ease;
}

.navlist a:hover{
    border-bottom: 2px solid rgb(238, 1, 1);
}
    
#menu-icon{
    color: rgb(224, 7, 7);
    font-size: 35px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

.hero {
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.92%);
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

section {
    padding: 0 19%;
}
.hero-text h5{
    font-size: 14px;
    font-weight: 400;
    color: rgb(43, 54, 216);
    margin-bottom: 10px;
    opacity: 0;
    animation: slideLeft .1s ease forwards;
}
.hero-text h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 90px;
    line-height: 1;
    color: rgb(7, 238, 188);
    margin: 0 0 40px;
    opacity: 0;
    animation: slideTop 4s ease forwards;
}
.hero-text h4{
    font-size: 18px;
    font-weight: 600;
    color: rgb(245, 229, 5);
    margin-bottom: 10px;
    opacity: 0;
    animation: slideBottom 2s ease forwards;
}
.hero-text p{
    font-size: 15px;
    color: rgb(41, 3, 0);
    line-height: 1.9;
    margin-bottom: 46px;
    opacity: 0;
    animation: slideRight 6s ease forwards;
}

.hero-img img{
    width: 400px;
    height: auto;
    opacity: 0;
    animation: zoomOut 1s ease forwards;
    animation-delay: 1.3s
}


.hero-text a{
    display: inline-block;
    color: rgb(250, 4, 4);
    background: #4d9559;
    border: 1px solid transparent;
    padding: 12px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .55s ease;
}
.hero-text a:hover{
    background: transparent;
    border: 1px solid rgb(31, 50, 221);
    transform: translateX(8px);
}
.hero-text a.ctaa{
    background: transparent;
    border: 1px solid rgb(15, 35, 218);
    margin-left: 20px;
}
.hero-text a.ctaa i{
    vertical-align: middle;
    margin-right: 5px;
}
@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.icons {
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
    
}
.icons  i{
    display: block;
    margin:  26px 0;
    font-size: 24px;
    color: rgb(192, 6, 248) ;
    transition: all .50s ease;
}
.icons i:hover{
    color: #23f008;
    transform: translateY(-5px);
}
.scroll-down{
    position: absolute;
    bottom: 6%;
    right: 9%;
}
.scroll-down i{
    display: block;
    padding: 12px;
    font-size: 25px;
    color: rgb(7, 218, 147);
    background: #4d9559;
    border-radius: 30px;
    transition: all .50s ease;
}
.scroll-down i:hover{
    transform: translateY(-5px );
}
@keyframes zoomOut {
    0% {
        transform:scale(1.1);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

